.TransactionHistory {
    margin: 5vh auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 0.5rem;
}

.TransactionHistory {
    font-size: 1.5rem;
    text-align: center;
}

.columnTable {
    width: 30%;
    padding: 1rem 5rem;
    background-color: #02bbd7;
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
}

.columnTable:first-child {
    border-radius: 0.5rem 0 0 0;
}

.columnTable:last-child {
    border-radius: 0 0.5rem 0 0;
}

.valueTable:last-child .transactionData:first-child {
    border-radius: 0 0 0 0.5rem;
}

.valueTable:last-child .transactionData:last-child {
    border-radius: 0 0 0.5rem 0;
}

.valueTable {
    width: 33%;
    color: #8a8b8e;
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;
}

.valueTable:nth-child(even) {
    background-color: #f2f2f2;
}